.modal{
    .modal-dialog{
        .modal-content{
            border-radius: 0;
            .modal-header{
                background: $button-blue;
                position: relative;
                .modal-title{
                    color: #fff;
                }
                button{
                    position: absolute;
                    right:20px;
                    top: 50%;
                    margin: -17px 0 0 0;
                    color: #fff;
                    opacity: 1;
                    text-shadow: none;
                    span{
                        font-weight: 300;
                        text-shadow: none;
                        font-size: 40px;
                    }
                }
            }
            .modal-body{

            }
            .modal-footer{
                border: none;
                text-align: center;
            }
        }
    }
}
