footer{
    margin: 50px 0 0 0;
    nav.navbar{
        margin-bottom: 0;
        .nav-bg{
            background: $grey-bg;
            max-width: 970px;
            margin: 0 auto;
            .navbar-header{
                .navbar-brand{
                    width: 100%;
                    img{
                        width: 51px;
                    }
                }
            }
            .navbar-collapse{
                height: auto !important;
                display: block !important;
                .navbar-nav{
                    li{
                        a{
                            font-size: 13px;
                            color: $brand-primary;
                            &:hover, &:focus{
                                background: none !important;
                            }
                        }
                        &.current-menu-item{
                            a{

                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    footer{
        nav.navbar{
            .nav-bg{
                .navbar-header{
                    width: 20%;
                    .navbar-brand{
                        padding-left: 0;
                    }
                }
                .navbar-collapse{
                    width: 75%;
                    .navbar-nav{
                        padding: 20px 0;
                        li{
                            a{
                                padding-bottom: 4px;
                                padding-top: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
