header{
    .logo-wrapper{
        margin: 49px 0 36px;
        img{
            &.logo-right{
                margin: -12px 0 0 0;
                width: 120px;
            }
            &.logo-left{
                width: 339px;
            }
        }

    }
    nav{
        .nav-bg{
            background: $nav-bg;
            max-width: 970px;
            margin: 0 auto;
            .navbar-collapse{
                padding: 0;
            }
            .navbar-nav{
                // margin: 0 -30px;
                display:table;
                width:100%;
                margin: 0;
                padding: 0;
                li{
                    float:none;
                    display:table-cell;
                    text-align:center;
                    a{
                        color: #fff;
                        padding-left: 10px;
                        padding-right: 10px;
                        &:hover, &:focus{
                            background: none !important;
                        }
                    }
                    &.current-menu-item{
                        a{
                            font-weight: bold;
                        }
                    }
                    &:first-child{
                        a{
                            padding-left: 0;
                            text-align: left;
                        }
                    }
                    &:last-child{
                        a{
                            padding-right: 0;
                            text-align: right;
                        }
                    }
                }
            }
            .navbar-header{
                color: #fff;
                button{
                    text-align: center;
                    font-size: 12px;
                    margin-top: 11px;
                    .icon-bar{
                        background: #fff;
                        margin: 0 auto;
                        width: 90%;
                    }
                    &.is-active{
                        .mobi-menu{
                            opacity: 0;
                        }
                        .icon-bar{
                            &:first-child{
                                -webkit-transform: rotate(45deg);
                                -moz-transform: rotate(45deg);
                                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/
                                position: relative;
                                top: 14px;
                            }
                            &:last-child{
                                -webkit-transform: rotate(-45deg);
                                -moz-transform: rotate(-45deg);
                                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/
                                position: relative;
                                top: -13px;
                            }

                        }
                    }
                }

                .mobi-menu{
                    margin: 4px 0;
                    display: block
                }
            }
        }
    }
}

//MEDIA CSS
@media (max-width: 767px) {
    header{
        nav{
            .nav-bg{
                .navbar-header{
                    .navbar-toggle{
                        padding: 9px 10px 9px 15px;
                        max-width: 75%;
                        text-overflow: clip;
                        text-overflow: ellipsis;
                        text-overflow: " ...";
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
                .navbar-collapse{
                    padding: 0 15px;
                    background: $brand-secondary;
                    position: absolute;
                    width: 100%;
                    z-index: 100;
                }
                .nav-wrapper{
                    position: relative;
                    margin: 0 -15px;
                }
                .navbar-nav{
                    display:block;
                    width:100%;
                    li{
                        float:none;
                        display:block;
                        text-align:left;
                        a{
                            text-align: left;
                            padding: 10px 15px !important;
                        }
                        &:first-child{
                            a{
                                text-align: left;
                            }
                        }
                        &:last-child{
                            a{
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
        .logo-wrapper{
            padding: 0 25px;
            .col-sm-6{
                text-align: center;
                &:first-child{
                    margin: 0 0 25px 0;
                }
            }
        }
    }
    footer{
        nav{
            .nav-bg{
                .navbar-collapse{
                    float: right;
                    width: 70%;
                    padding: 0;
                    .navbar-nav{
                        margin: 0;
                        li{
                            width: 50%;
                            float: left;
                        }
                    }
                }
                .navbar-header{
                    float: left;
                    width: 30%;
                }
            }
        }
    }
}
