// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4.8;

// Colors
$brand-primary-dark:    #72665b;
$brand-primary:         #938880;
$brand-secondary:       #0094d4;
$comments-grey:         #b6ada5;
$nav-bg:                #0093d3;
$grey-bg:               #eceae8;
$brand-lighter:         #938880;
$border-colour:         #d0cac6;
$button-blue:           #0093d3;
$spinner-default-color: $brand-secondary;
$slick-font-path: "../fonts/" !default;
